<div class="center jumbotron">
  <h1>Welcome to Discover</h1>

  <h2>
    Let's find something to do.
  </h2>
  <%= render 'layouts/maps' %>

  <%# Only produce sign up button if user is not logged in %>
  <%= link_to "Sign up now!", signup_path, id: "sign-up", class: "btn btn-lg btn-primary" if @logged_out %>

</div>
