<div class="center jumbotron">
  <h1>Welcome to Discover</h1>

  <h2>
    Let's find something to do.
  </h2>
  <%= render 'layouts/maps' %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
