<div class="map">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= javascript_include_tag "map", "data-turbolinks-track" => "reload" %>
<%= javascript_include_tag "marketcluster", "data-turbolinks-track" => "reload" %>

<script src="//maps.google.com/maps/api/js?key=AIzaSyAuVYFVhtzgMTcLyoeSpNsFwWLv1PAcgfU&callback=initialize" async></script>
