<div class="map">
  <div class="new-event hidden" id="new-event">
    <form class="new-event-form">
      <div class="form-group">
        <label for="eventName">Event Name</label>
        <input type="text" class="form-control" name="eventName" id="eventName" placeholder="Enter event name">
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="datetime-local" class="form-control" name="startDate" id="startDate">
      </div>

      <div class="form-group">
        <label for="startDate">End Date</label>
        <input type="datetime-local" class="form-control" name="endDate" id="endDate">
      </div>

      <div class="form-group">
        <label for="eventName">Latitude</label>
        <input type="text" id="latitude" class="form-control" name="latitude" id="eventName" placeholder="Latitude">
      </div>

      <div class="form-group">
        <label for="eventName">Longtitude</label>
        <input type="text" id="longitude" class="form-control" name="longitude" id="eventName" placeholder="Longitude">
      </div>

      <button type="reset" id="event-cancel" class="btn btn-secondary">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= javascript_include_tag "map", "data-turbolinks-track" => "reload" %>
<%= javascript_include_tag "marketcluster", "data-turbolinks-track" => "reload" %>

<script src="//maps.google.com/maps/api/js?key=AIzaSyAuVYFVhtzgMTcLyoeSpNsFwWLv1PAcgfU&callback=initialize" async></script>
